In [17]:
import pandas as pd
import os

tweets = pd.read_csv(os.path.join('Data', 'twcs.csv'))

In [18]:
# Tweets that are not a reply to another tweet and are user (non-company) initiated.
customer_initial_tweets = tweets[pd.isnull(tweets.in_response_to_tweet_id) & tweets.inbound]
customer_initial_tweets.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
3,5,83897,True,Thu Nov 02 13:08:24 +0000 2017,Lovely friendly staff @sainsburys cafe Bretton...,4,NaN
7,8,83898,True,Fri Nov 03 19:49:33 +0000 2017,Gutted I didn’t get any garlic and herb dip in...,6,NaN
9,11,83899,True,Fri Nov 03 16:43:59 +0000 2017,@Safaricom_Care why are calls in your network ...,10,NaN
14,14,83900,True,Fri Nov 03 16:41:38 +0000 2017,@safaricom_care how long will I have to wait t...,12,NaN
16,18,83902,True,Fri Nov 03 16:37:48 +0000 2017,@Safaricom_Care my DM? 6 hrs later,17,NaN

In [19]:
customer_initial_tweets.columns

Index(['tweet_id', 'author_id', 'inbound', 'created_at', 'text',
       'response_tweet_id', 'in_response_to_tweet_id'],
      dtype='object')